

<footer class="footer">
    <div class="footer-content">
        <h4>&copy; 2024 Nailed It. WDD 330 Project.</h4>
        <ul class="social-links">
            <li><a href="https://facebook.com" target="_blank">Facebook</a></li>
            <li><a href="https://twitter.com" target="_blank">Twitter</a></li>
            <li><a href="https://instagram.com" target="_blank">Instagram</a></li>
        </ul>
    </div>
</footer>
</body>
</html>