
<!-- views/partials/header -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nailed It / WDD 330</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header>
    <div class="company-title">Nailed It</div>

    <h4>Expert Nails, Perfect Results</h4>
</header>
<nav>
    <%- include('navbar') %>
</nav>
