<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Nailed It / Appointments</title>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <h1>Appointments</h1>
        <h3>Let's Get you Scheduled Today!</h3>
        <p>Well done on deciding to pamper yourself. Click on the calendar below for your desired day and time.</p>
    </body>
</html>