<!DOCTYPE html>
<html lang="en">
    <head>    
    <!-- <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     -->
        <title>Nailed It / Home</title>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <h1>Welcome</h1>
        <h2>We offer a variety of premium services to make you feel pampered, refreshed, and beautiful!</h2>
            <p>Whether you're looking for a classic manicure, a trendy design, or a relaxing spa pedicure, we have something special for you.<br>
            Take a look around and make an appointment online today!</p>
        
        <h3>Explore Our Services</h3>
        <% for(var i = 0;i< servicesList.length; i++){ %>
            <h4><%= servicesList[i].generalServices %></h4>
            <h5>Price Range: <%= servicesList[i].priceRange %></h5>
        <% } %>
        <button type="submit">See More Detail</button>

        <h3>Contact Us</h3>
        <button type="submit">Send Message</button>
        
        <h3>Make An Appointment</h3>
        <button type="submit">Calendar</button>
    </body>
    
</html>