<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Nailed It / Services</title>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <h1>Our Services</h1>
        <h3>Natural Nails</h3>
        <h3>Nail Enhancements</h3>
        <h3>Kids Nails</h3>
        <h3>Waxing</h3>
    </body>
</html>