<!DOCTYPE html>

<%- include('partials/header') %>
    <h1>Our Services</h1>
    <div class="nailContainer">
        <h3>Natural Nails</h3>
        <ul>
            <li>$15 Classic Manicure</li>
            <li>$30 Classic Pedicure</li>
            <li>$15 French Manicure</li>
            <li>$30 Gel Manicure</li>
            <li>$15 Paraffin Wax Treatment</li>
        </ul>
    </div>
    <div class="nailContainer">
        <h3>Nail Enhancements</h3>
        <ul>
            <li>$20 Acrylic Nails</li>
            <li>$75 Hard Gel Nails</li>
            <li>$60 Dip Powder Nails</li>
            <li>$30 Nail Art & Design</li>
            <li>$80 PolyGel Nails</li>
        </ul>
    </div>
    <div class="nailContainer">
        <h3>Kids Nails</h3>
        <ul>
            <li>$10 Mini Manicure</li>
            <li>$15 Mini Pedicure</li>
            <li>$10 Decorative Nail Art</li>
            <li>$10 Temporary Nail Stickers</li>
            <li>$30 Bubble Bath Pedicure</li>
        </ul>
    </div>
    <div class="nailContainer">
        <h3>Waxing</h3>
        <ul>
            <li>$5 Eyebrow Waxing</li>
            <li>$10 Upper Lip Waxing</li>
            <li>$30 Leg Waxing</li>
            <li>$5 Underarm Waxing</li>
            <li>$30 Brazilian Waxing</li>
        </ul>
    </div>
<%- include('partials/footer') %>